<template>
  <div
    class="box"
    style="background: rgba(255,246,210, 0.8); border: 1px solid #ffec9f;"
  >
    <h1 v-if="name" class="title is-5">{{ name }}</h1>
    <nav class="level is-mobile">
      <div class="level-left">
        <a class="level-item">
          <p v-if="city" class="subtitle is-6">{{ city }}</p>
        </a>
      </div>
      <div class="level-right">
        <a class="level-item">
          <p v-if="date" class="subtitle is-6">{{ date }}</p>
        </a>
      </div>
    </nav>
    <p v-if="address">
      {{ address }}
    </p>
    <br />
    <p>Kebutuhan :</p>
    <ul>
      <li>
        <nav class="level is-mobile">
          <div class="level-left">
            <a class="level-item">
              <p v-if="apdsName" class="subtitle is-6">- {{ apdsName }} :</p>
            </a>
          </div>
          <div class="level-right">
            <a class="level-item">
              <span v-if="apdsAmount" class="subtitle is-6">
                {{ apdsAmount }} </span
              ><span v-if="apdsUnit" class="subtitle is-6"
                >&nbsp;{{ apdsUnit }}</span
              >
            </a>
          </div>
        </nav>
      </li>
    </ul>
    <br />
    <nav class="level is-mobile">
      <div class="level-left">
        <a class="level-item">
          <div class="block">
            <b-icon icon="account"></b-icon>
          </div>
        </a>
        <a class="level-item">
          <div>
            <p v-if="contactName" class="subtitle is-6">{{ contactName }}</p>
            <!--            <p class="subtitle is-7">RS Bunda Palembang</p>-->
          </div>
        </a>
      </div>
      <div class="level-right">
        <a class="level-item">
          <b-icon icon="phone"></b-icon>
          <p class="subtitle is-7">Hubungi</p>
        </a>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      default: ''
    },
    city: {
      type: String,
      default: ''
    },
    address: {
      type: String,
      default: ''
    },
    date: {
      type: String,
      default: ''
    },
    apdsName: {
      type: String,
      default: null
    },
    apdsAmount: {
      type: Number,
      default: null
    },
    apdsUnit: {
      type: String,
      default: null
    },
    contactName: {
      type: String,
      default: null
    }
  }
}
</script>
