<template>
  <div>
    <section class="hero is-info is-fullheight heade">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item">
                <h1 class="title is-4">Kebutuhan APD Faskes - MedUp</h1>
              </a>
              <!--              <span class="navbar-burger burger" data-target="navbarMenuHeroB">-->
              <!--                <span></span>-->
              <!--                <span></span>-->
              <!--                <span></span>-->
              <!--              </span>-->
            </div>
            <!--            <div id="navbarMenuHeroB" class="navbar-menu">-->
            <div class="navbar-end">
              <span class="navbar-item">
                <a
                  class="button is-info is-inverted"
                  href="https://bit.ly/FormKebutuhanAPD"
                  target="_blank"
                >
                  <span>Kirim Permintaan</span>
                </a>
              </span>
            </div>
            <!--            </div>-->
          </div>
        </nav>
      </div>

      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title is-1">
            Mari Bantu Tenaga Medis Indonesia <br />
            Melawan COVID-19
          </p>
          <p class="subtitle">
            Salurkan donasi Anda dengan cepat dan tepat sesuai <br />
            kebutuhan tenaga medis Indonesia
          </p>
          <!--          <b-field>-->
          <!--            <b-input-->
          <!--              placeholder="Cari nama rumah sakit atau daerah disini"-->
          <!--              type="search"-->
          <!--              icon="magnify"-->
          <!--              size="is-medium"-->
          <!--              expanded-->
          <!--            >-->
          <!--            </b-input>-->
          <!--            <p class="control">-->
          <!--              <button class="button is-primary is-medium">Search</button>-->
          <!--            </p>-->
          <!--          </b-field>-->
        </div>
      </div>
    </section>
    <section class="hero is-fullheight stats">
      <div class="statistik">
        <div class="hero-body">
          <div class="container">
            <div class="columns is-vcentered is-multiline">
              <div class="column is-6">
                <h1 class="title is-3">Data Statistik Kebutuhan APD Faskes</h1>
              </div>
              <div class="column is-3">
                <div
                  class="box"
                  style="background: rgba(137, 196, 244, 1); border: 1px solid rgba(30, 139, 195, 1);"
                >
                  <h1 class="title is-3" style="color: white">
                    {{ countAll }}
                  </h1>
                  <p class="subtitle is-5" style="color: white">
                    Fasilitas Kesehatan
                  </p>
                </div>
              </div>
              <div class="column is-3">
                <div
                  class="box"
                  style="background: rgba(137, 196, 244, 1); border: 1px solid rgba(30, 139, 195, 1);"
                >
                  <h1 class="title is-3" style="color: white">
                    {{ countTotalC }}
                  </h1>
                  <p class="subtitle is-5" style="color: white">
                    Kabupaten / Kota
                  </p>
                </div>
              </div>
            </div>
            <div class="columns is-vcentered is-multiline">
              <div
                v-for="totalApd in totalApdSatus"
                :key="totalApd.nama"
                :class="{ 'is-loading': loadingApdSatu }"
                class="column is-4"
              >
                <div
                  class="notification"
                  style="background: rgba(129, 207, 224, 1); border: 1px solid rgba(30, 139, 195, 1); height: 120px; display: flex;
  align-items: center;"
                >
                  <p class="subtitle is-6" style="color: white; margin: 0; ">
                    <b-icon icon="medical-bag" size="is-small"> </b-icon>
                    &nbsp;<strong class="subtitle is-5">{{
                      totalApd.nama
                    }}</strong
                    >&nbsp; {{ totalApd.jumlah }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="hero is-fullheight">
      <div class="data">
        <div class="hero-body">
          <div class="container">
            <div class="columns">
              <div class="column is-5">
                <h1 class="title is-3">Data Kebutuhan APD Faskes</h1>
              </div>
              <div class="column">
                <b-field class="is-narrow">
                  <b-autocomplete
                    ref="autocomplete"
                    v-model="locationCity"
                    :data="locationData.data"
                    :open-on-focus="true"
                    :loading="isFetchingLocation"
                    placeholder="Cari Kota"
                    field="city"
                    icon="map-marker"
                    size="is-medium"
                    @typing="getAsyncDataLocation"
                  >
                    <!--                    <template slot-scope="props">-->
                    <!--                      <div class="media">-->
                    <!--                        <span>-->
                    <!--                          {{ props.option.city }}-->
                    <!--                        </span>-->
                    <!--                      </div>-->
                    <!--                    </template>-->
                  </b-autocomplete>
                </b-field>
              </div>
            </div>
            <div class="columns is-vcentered is-multiline">
              <div
                v-for="data in locationData.data"
                :key="data._id"
                class="column is-4"
                style="position: relative;"
              >
                <div
                  class="box temp"
                  style="background: rgba(197, 239, 247, 1); border: 1px solid rgba(30, 139, 195, 1); height: 820px; position: relative; padding: 30px 20px 87px;"
                >
                  <h1 class="title is-5">
                    {{ data.name }}
                  </h1>
                  <div class="content">
                    <nav class="level is-mobile">
                      <div class="level-left">
                        <a class="level-item">
                          <p class="subtitle is-6">
                            {{ data.city }}
                          </p>
                        </a>
                      </div>
                      <div class="level-right">
                        <a class="level-item">
                          <p class="subtitle is-6">
                            {{ data.date }}
                          </p>
                        </a>
                      </div>
                    </nav>
                    <p>
                      {{ data.address }}
                    </p>
                    <span>
                      Waktu pemenuhan Item :
                      {{ data.due_day_count }} hari
                    </span>
                    <br />
                    <span>
                      Jumlah tenaga medis per shift :
                      {{ data.shift_man_count }} orang
                    </span>
                    <br />
                    <span>
                      Jumlah Shift di IGD :
                      {{ data.shift_count }}
                    </span>
                  </div>
                  <div class="kebutuhan">
                    <p>Kebutuhan :</p>
                    <ul>
                      <li v-for="apds in data.apd" :key="apds.name">
                        <nav v-if="apds.amount != 0" class="level is-mobile">
                          <div class="level-left">
                            <a class="level-item">
                              <p class="subtitle is-6 coba">
                                <span>-</span>&nbsp; {{ apds.name }}
                              </p>
                            </a>
                          </div>
                          <div v-if="apds.amount != 0" class="level-right">
                            <a class="level-item">
                              <span class="subtitle is-6">
                                {{ apds.amount }} </span
                              ><span class="subtitle is-6"
                                >&nbsp;{{ apds.unit }}</span
                              >
                            </a>
                          </div>
                        </nav>
                      </li>
                    </ul>
                  </div>
                  <div
                    class="footer"
                    style="background: rgba(197, 239, 247, 1);"
                  >
                    <nav class="level is-mobile bt">
                      <div class="level-left">
                        <a class="level-item"> </a>
                        <a class="level-item">
                          <div>
                            <p class="subtitle is-6"></p>
                            <!--            <p class="subtitle is-7">RS Bunda Palembang</p>-->
                          </div>
                        </a>
                      </div>
                      <div class="level-right">
                        <a class="level-item" @click="activeModalRs(data._id)">
                          <b-icon icon="phone"></b-icon>
                          <p class="subtitle is-7">
                            Hubungi Fasilitas Kesehatan
                          </p>
                        </a>
                      </div>
                    </nav>
                  </div>
                  <b-modal :active.sync="isCardModalActive" :width="860">
                    <form trap-focus aria-modal @submit.prevent="submitForm">
                      <div class="card">
                        <br />
                        <h4 class="title is-4 has-text-centered">
                          FORM PERMINTAAN KONTAK
                        </h4>
                        <hr />
                        <p class="has-text-centered">
                          Silahkan isi form berikut untuk mendapatkan kontak
                          dari faskes yang Anda pilih.
                        </p>
                        <div class="card-content">
                          <div class="columns is-multiline">
                            <div class="column is-6">
                              <div class="field">
                                <label class="label">Nama</label>
                                <div class="control">
                                  <input
                                    v-model="nameForm"
                                    class="input"
                                    type="text"
                                    placeholder=""
                                    required
                                  />
                                </div>
                              </div>
                              <div class="field">
                                <label class="label">Nomor Telepon</label>
                                <div class="control">
                                  <input
                                    v-model="numberForm"
                                    class="input"
                                    type="number"
                                    placeholder=""
                                    required
                                  />
                                </div>
                              </div>
                              <div class="field">
                                <label class="label"
                                  >Tahu Info Web ini darimana</label
                                >
                                <div class="control">
                                  <textarea
                                    v-model="infoForm"
                                    class="input"
                                    type="textarea"
                                    placeholder=""
                                    required
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="column is-6">
                              <div class="field">
                                <label class="label">Email</label>
                                <div class="control">
                                  <input
                                    v-model="emailForm"
                                    class="input"
                                    type="email"
                                    placeholder=""
                                    required
                                  />
                                </div>
                              </div>
                              <div class="field">
                                <label class="label">Asal Instansi</label>
                                <div class="control">
                                  <input
                                    v-model="instanceForm"
                                    class="input"
                                    type="text"
                                    placeholder=""
                                    required
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="column is-12">
                              <div class="field">
                                <div class="control has-text-right">
                                  <!--                                  <button-->
                                  <!--                                    type="submit"-->
                                  <!--                                    class="button is-danger"-->
                                  <!--                                    @click="is.close()"-->
                                  <!--                                  >-->
                                  <!--                                    Batal-->
                                  <!--                                  </button>-->
                                  <button
                                    :class="{ 'is-loading': loadingForm }"
                                    type="submit"
                                    class="button is-primary"
                                    @click="isDetailModalActive = true"
                                  >
                                    Kirim Data
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </b-modal>
                  <b-modal
                    :active.sync="isDetailModalActive"
                    :width="640"
                    scroll="keep"
                  >
                    <div class="box">
                      <h1 class="title is-5">
                        {{ dataDetailRs.name }}
                      </h1>
                      <div class="content">
                        <nav class="level is-mobile">
                          <div class="level-left">
                            <a class="level-item">
                              <p class="subtitle is-6">
                                {{ dataDetailRs.city }}
                              </p>
                            </a>
                          </div>
                          <div class="level-right">
                            <a class="level-item">
                              <p class="subtitle is-6">
                                {{ dataDetailRs.date }}
                              </p>
                            </a>
                          </div>
                        </nav>
                        <p>
                          {{ dataDetailRs.address }}
                        </p>
                        <span>
                          Waktu pemenuhan Item :
                          {{ dataDetailRs.due_day_count }} hari
                        </span>
                        <br />
                        <span>
                          Jumlah tenaga medis per shift :
                          {{ dataDetailRs.shift_man_count }} orang
                        </span>
                        <br />
                        <span>
                          Jumlah Shift di IGD :
                          {{ dataDetailRs.shift_count }}
                        </span>
                      </div>
                      <div class="kebutuhan">
                        <p>Kebutuhan :</p>
                        <ul>
                          <li
                            v-for="dataApd in dataDetailRs.apd"
                            :key="dataApd.name"
                          >
                            <nav
                              v-if="dataApd.amount != 0"
                              class="level is-mobile"
                            >
                              <div class="level-left">
                                <a class="level-item">
                                  <p class="subtitle is-6 coba">
                                    <span>-</span>&nbsp; {{ dataApd.name }}
                                  </p>
                                </a>
                              </div>
                              <div
                                v-if="dataApd.amount != 0"
                                class="level-right"
                              >
                                <a class="level-item">
                                  <span class="subtitle is-6">
                                    {{ dataApd.amount }} </span
                                  ><span class="subtitle is-6"
                                    >&nbsp;{{ dataApd.unit }}</span
                                  >
                                </a>
                              </div>
                            </nav>
                          </li>
                        </ul>
                      </div>
                      <br />
                      <p class="subtitle is-5">Contact:</p>
                      <div
                        v-for="dataContact in dataDetailRs.contact"
                        :key="dataContact.name"
                        class="level is-mobile"
                      >
                        <div class="level-left">
                          <a class="level-item">
                            <p class="subtitle is-5">{{ dataContact.name }}</p>
                          </a>
                        </div>
                        <div class="level-right">
                          <a class="level-item">
                            <b-icon icon="phone"></b-icon>
                            <p class="subtitle is-5">
                              {{ dataContact.phone }}
                            </p>
                          </a>
                        </div>
                      </div>
                    </div>
                  </b-modal>
                </div>
              </div>
            </div>
            <hr />
            <b-pagination
              :total="locationData.total_page"
              :current.sync="currentPage"
              :order="order"
              :size="size"
              :simple="isSimple"
              :rounded="isRounded"
              :per-page="perPage"
              aria-next-label="Next page"
              aria-previous-label="Previous page"
              aria-page-label="Page"
              aria-current-label="Current page"
              @change="onPageChange"
            >
            </b-pagination>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex'
// import Card from '~/components/Card'
// import { mapGetters, mapMutations } from 'vuex'

export default {
  name: 'HomePage',
  // components: {
  //   Card
  // },
  data() {
    return {
      datas: [],
      loadingForm: false,
      isCardModalActive: false,
      isDetailModalActive: false,
      nameForm: null,
      emailForm: null,
      numberForm: null,
      instanceForm: null,
      infoForm: null,
      loading: false,
      loadingApd: false,
      loadingApdSatu: false,
      loadingCity: false,
      isEmpty: false,
      token: 's3h4t5e1a1u',
      currentPage: 1 || parseInt(this.$route.query.page),
      order: 'is-centered',
      size: 'is-small',
      isSimple: false,
      isRounded: false,
      perPage: '1',
      locationCity: '',
      locationData: [],
      isFetchingLocation: false,
      totalCities: [],
      totals: [],
      totalApds: [],
      totalApdSatus: {},
      selectedRsId: null,
      dataDetailRs: {},
      isLoadingDetail: false,
      jenisApd: [
        'Masker N95',
        'Masker Bedah Disposable',
        'Kacamata google',
        'Face Shield',
        'Sarung tangan/ Handscoon disposable & steril',
        'Hazmat/ Coverall Jumpsuit/ surgical gawn/ disposable kimono',
        'Disposable surgical cap',
        'Cairan Disinfektan',
        'Hand Sanitizer/ Handrub/ Alcuta',
        'Shoes Cover',
        'Multivitamin',
        'Termometer Tembak',
        'Sepatu Boot',
        'Alkohol Swab',
        'Appron',
        'Hair / Head / Nurse Cap'
      ]
    }
  },
  computed: {
    ...mapGetters(['location']),
    selectedLocation: {
      get() {
        return this.location
      }
    },
    countAll() {
      return this.locationData.total
    },
    countTotalC() {
      return this.totalCities.total
    },
    tampilApd() {
      return this.totalApdSatus
    }
  },
  async created() {
    // await this.getAsyncDataLocation('')
    await this.fetchTotalCity()
    await this.fetchTotalApdSatu()
    // await this.loopApd()
    await this.fetchDatas()
  },
  methods: {
    onPageChange(page) {
      this.currentPage = page
      if (this.locationCity.length > 0) {
        this.getAsyncDataLocation(this.locationCity)
      } else {
        this.fetchDatas()
      }
    },
    async activeModalRs(idRs) {
      // this.selectedRsId = idRs
      await this.detailRs(idRs)
      this.isCardModalActive = true
    },
    async detailRs(idRs) {
      this.isLoadingDetail = true
      const api = 'https://cors.medup.id/https://apdapi.medup.id/'
      try {
        const response = await axios({
          method: 'GET',
          url: api + `apd/${idRs}`,
          headers: {
            Authorization: `Bearer ${this.token}`,
            'Content-Type': 'application/json'
            // 'Access-Control-Al  low-Origin': '*'
          }
        })
        this.dataDetailRs = response.data.data[0]
        this.isLoadingDetail = false
        this.isDetailModalActive = false
      } catch (error) {
        this.isLoadingDetail = false
        this.isDetailModalActive = false
        // eslint-disable-next-line
            console.log(error)
      }
    },
    async fetchDatas() {
      this.loading = true
      const api = 'https://cors.medup.id/https://apdapi.medup.id/'
      const routerQuery = { page: this.currentPage }
      this.$router.push({ path: this.$route.path, query: routerQuery })
      try {
        const response = await axios({
          method: 'GET',
          url: api + '/apd',
          headers: {
            Authorization: `Bearer ${this.token}`,
            'Content-Type': 'application/json',
            'Access-Control-Allow-Origin': '*'
          },
          params: {
            page: this.currentPage
          }
        })
        this.locationData = response.data
        this.totals = response.data
        this.loading = false
        // if (this.datas && this.datas.length) {
        //   this.isEmpty = false
        // } else {
        //   this.isEmpty = true
        // }
      } catch (error) {
        this.loading = false
        // this.isEmpty = true
        // eslint-disable-next-line
              console.log(error)
      }
    },
    // async loopApd() {
    //   for (let i = 0; i < this.jenisApd.length; i++) {
    //     await this.fetchTotalApd(this.jenisApd[i])
    //   }
    // },
    async getAsyncDataLocation(city) {
      this.isFetchingLocation = true
      const routerQuery = { page: this.currentPage }
      this.$router.push({ path: this.$route.path, query: routerQuery })
      const api = 'https://cors.medup.id/https://apdapi.medup.id'
      try {
        const response = await axios({
          method: 'GET',
          url:
            api + (this.locationCity.length > 1 ? '/apd-filter/city/' : '/apd'),
          headers: {
            Authorization: `Bearer ${this.token}`,
            'Content-Type': 'application/json',
            'Access-Control-Allow-Origin': '*'
          },
          params: {
            q: city,
            page: this.currentPage
          }
        })
        this.locationData = response.data
        this.isFetchingLocation = false
      } catch (error) {
        this.isFetchingLocation = false
        // this.locationData = []
        // eslint-disable-next-line
            console.log(error)
      }
    },
    async fetchTotalApd(name) {
      // if (!city.length) {
      //   this.locationData = []
      // }
      this.loadingApd = true
      const api = 'https://cors.medup.id/https://apdapi.medup.id'
      try {
        const response = await axios({
          method: 'GET',
          url: api + '/apd-total',
          headers: {
            Authorization: `Bearer ${this.token}`,
            'Content-Type': 'application/json',
            'Access-Control-Allow-Origin': '*'
          },
          params: {
            q: name
          }
        })
        this.totalApds.push(response.data.data)
        this.loadingApd = false
      } catch (error) {
        this.loadingApd = false
        // eslint-disable-next-line
            console.log(error)
      }
    },
    async fetchTotalApdSatu() {
      this.loadingApdSatu = true
      const api = 'https://cors.medup.id/https://apdapi.medup.id'
      try {
        const response = await axios({
          method: 'GET',
          url: api + '/apd-aggregate',
          headers: {
            Authorization: `Bearer ${this.token}`,
            'Content-Type': 'application/json',
            'Access-Control-Allow-Origin': '*'
          }
        })
        this.totalApdSatus = Object.entries(response.data.data).map(
          ([key, value]) => {
            const obj = { nama: key, jumlah: value }
            return obj
          }
        )
        this.loadingApdSatu = false
      } catch (error) {
        this.loadingApdSatu = false
        // eslint-disable-next-line
              console.log(error)
      }
    },

    async fetchTotalCity(total) {
      this.loadingCity = true
      const api = 'https://cors.medup.id/https://apdapi.medup.id/'
      // const routerQuery = { page: this.currentPage }
      // this.$router.push({ path: this.$route.path, query: routerQuery })
      try {
        const response = await axios({
          method: 'GET',
          url: api + '/city-total',
          headers: {
            Authorization: `Bearer ${this.token}`,
            'Content-Type': 'application/json',
            'Access-Control-Allow-Origin': '*'
          }
        })
        this.totalCities = response.data
        this.loadingCity = false
      } catch (error) {
        this.loadingCity = false
        // eslint-disable-next-line
              console.log(error)
      }
    },
    async submitForm() {
      try {
        this.loadingForm = true
        const api = 'https://cors.medup.id/https://apdapi.medup.id'
        const response = await axios({
          method: 'POST',
          url: api + '/requestor',
          headers: {
            'Content-Type': 'application/json',
            'Access-Control-Allow-Origin': '*',
            Authorization: `Bearer ${this.token}`
          },
          data: {
            name: this.nameForm,
            email: this.emailForm,
            phone: this.numberForm,
            company: this.instanceForm,
            source_info: this.infoForm
          }
        })
        // this.$buefy.toast.open({
        //   message: 'Data Telah Terkirim',
        //   type: 'is-success'
        // })
        this.loadingForm = false
        this.isCardModalActive = false
        this.nameForm = null
        this.emailForm = null
        this.numberForm = null
        this.instanceForm = null
        this.infoForm = null
        // eslint-disable-next-line
              console.log(response)
      } catch (error) {
        this.loadingForm = false
        this.isCardModalActive = false
        // eslint-disable-next-line
              console.log(error)
      }
    }
  }
}
</script>
<style scoped>
.hero-body {
  align-items: normal;
}
.stats {
  background-color: #eef6fc;
}
.data {
  min-height: 620px;
}
.coba {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 225px;
}
.heade {
  background-color: #2691d4;
}
.footer {
  bottom: 0;
  right: 0;
  position: absolute;
}
</style>
